.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.hero {
  border: 1px black solid;
  min-height: 100vh;
}
.todo {
  background-color: rgb(248, 248, 230);
  border-radius: 20px;
  padding: 25px;
  width: 75%;
  margin: auto;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.task-form {
  width: 60%;
}
.task-list {
  /* border: 1px blue solid; */
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
